@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0 auto;
}

/* navbar top section */

.navbar-container{
    background-color: #9100F8;
    align-items: center;
}

.navbar-container nav{
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    height: 92px;
    align-items: center;
    padding: 0 auto;
    
}
.ThchWave-logo{
    color: white;
}
.ThchWave-logo span{
    background-image: linear-gradient(#F7E93F,#FB09B4,#9100F8 );
}
.nav-item  a{
    display: flex;
    text-decoration: none;
    color: white;
}
.nav-item {
    list-style: none;
}
.navbar-links{
    display: flex;
    /* text-decoration: none; */
    gap: 32px;

}

.btn{
    width: 135px;
    height: 44px;
    border-radius: 20px;
    border: none;
    /* background-image:  */
    background: linear-gradient(#FB09B4,#9100F8, #F7E93F );
}

/* section-banner-container */

header{
    background: url("../assets/hero-bg.png");
}
















.podcast{
    background-color: rgba(26, 11, 46, 1);
    width: 1600px;
    height: 646px;
    margin-top: 700px;
}

.podcast h3{
    color: #FFFFFF;
    text-align: center;
    padding: 50px 200px ;
    font-size: xx-large;
}
.podcast-top-describtion{
    color: #b6b5b5;
    text-align: center;
    padding-left: 124px 200px 374px 200px;
}
.podcast-div{
    display: flex;
    padding: 220px 200px 120px 200px;
}

.podcast-green h1{
    color: green;
    font-size: xx-large;
    text-align: center;

}
.podcast-div p{
    color: #b6b5b5;
}