@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0 auto;
    padding: auto;
}

/* navbar top section */

.navbar-container{
    background-color: #9100F8;
    align-items: center;
}

.navbar-container nav{
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    height: 92px;
    align-items: center;
    padding: 0 auto;
    
}
.ThchWave-logo{
    color: white;
}
.ThchWave-logo span{
    background-image: linear-gradient(#F7E93F,#FB09B4,#9100F8 );
}
.nav-item  a{
    display: flex;
    text-decoration: none;
    color: white;
}
.nav-item {
    list-style: none;
}
.navbar-links{
    display: flex;
    /* text-decoration: none; */
    gap: 32px;

}

.btn{
    width: 135px;
    height: 44px;
    border-radius: 20px;
    border: none;
    /* background-image:  */
    background: linear-gradient(#FB09B4,#9100F8, #F7E93F );
}

/* section-banner-container */

header{
    background: url("../assets/hero-bg.png");
}

/* New New New New New New New New New New New New New New New New New New 
New New New New New New New New New New New New New New New New New New 
New New New New New New New New New New New New New New New New New New  */

.hero{
    background: url("../assets/hero-bg.png");
    
}










/* About the Podcast
About the Podcast
About the Podcast */

.podcast{
    background-color: rgba(26, 11, 46, 1);
    width: 1600px;
    height: 646px;
    margin-top: 700px;
}

.podcast h3{
    color: #FFFFFF;
    text-align: center;
    padding: 50px 200px ;
    font-size: xx-large;
}
.podcast-top-describtion{
    color: #b6b5b5;
    text-align: center;
    padding-left: 124px 200px 374px 200px;
}
.podcast-div{
    display: flex;
    padding: 220px 200px 120px 200px;
}

.podcast-green h1{
    color: rgb(0, 255, 0);
    font-size: xx-large;
    text-align: center;

}
/* .podcast-green :hover{
    box-shadow: 2px 2px 2px 2px rgb(255, 174, 23);
} */
.podcast-div p{
    color: #b6b5b5;
}

/* cord-container-Section- styles*/

.why-cord-container{
    width: 1600px;
    height: 1121px;
    background-color: #230E3D;
}

.head-line{
  color: white;
  text-align: center;
  padding: 120px 200px 0px 200px;
  font-size: 3rem;
}

.cord-container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 273px);
    padding: 40px 200px 120px 200px;
    width: 1200px;
    height: 783px;
    /* margin-bottom: 20px; */
    justify-content: center;
}
.cord{
    background-color: #351165;
    gap: 30px;
    border: 1px solid #3100b8;;
    padding: 40px;
    border-radius: 40px;
}
.cord:hover{
    /* box-shadow: 5px 5px 50px 5px rgb(128, 26, 223) ; */
    /* box-shadow: 5px 5px 50px 5px rgb(107, 4, 167) ; */
    /* box-shadow: 5px 5px 15px 5px rgb(162, 2, 255) ; */
    box-shadow: 5px 5px 15px 5px rgb(132, 0, 255) ;
}
.cord h1{
    color: white;
    padding: 10px 0px 20px 0px;
}
.cord p{
    color: #c9c6c6;
}

.cord-bottom1{
    grid-row: span 2;
    width: 380px;
    height: 480px;
}
.item{
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    padding: 112px 40px 107px 40px
}
.item2, .item3, .item4, .item5{
    margin-left: 40px;
}

.cord-bottom2{
    grid-column: span 2;
    width: 790px;
    height: 180px;
}


/* Featured Episodes */
/* Featured-cord-container */


.Featured-cord-container{
    width: 1600px;
    height: 800px;
    background-color: #1A0B2E;

}

.Featured-titel{
    color: white;
    text-align: center;
    /* padding: 120px 200px 0px 200px; */
    padding: 120px 0px 0px 0px;
    font-size: 4rem;

}
.Featured{
    display: flex;
    gap: 30px;
    padding: 50px 200px 618px 200px;
    justify-content: center;
    
}

.card{
    border: 1px solid blueviolet;
    border-radius: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 380px;
    height: 440px;
}
/* .card:hover{
    box-shadow: 5px 5px 15px 5px rgb(132, 0, 255) ;
    animation: both;
    cursor: pointer;
    text-overflow: clip;
} */
.video{
    width: 380px;
    height: 214px;
    border-radius: 24px;
}

.card h1{
    color: white;
    font-size: 24px;
    padding: 24px 24px 12px 24px;
    text-align: left;

}
.card p{
    color: white;
    padding: 12px 24px 12px 24px;
    /* margin-left: 24px; */
    text-align: left;

}

.video-time{
    display: flex;
    color: #04ff8a;
    padding: 12px 24px 24px 24px ;
    /* gap:2px; */
    text-align: left;
}
.video-time h5{
    margin-left: 0px;
}

/* Meet the Host section */
.Host-section{
    background-color: #1A0B2E;
    width: 1600px;
    height: 400px;
    justify-content: center;

}

.Host-titel{
    text-align: center;
    margin-top: 0;
    color: white;
    font-size: 3rem;
    margin-bottom: 10px;
}

.Host{
    display: flex;
    gap: 24px;
    background-color: #230E3D;
    border-radius: 40px;
    width: 1200px;
    height: 280px;
    justify-content: center;
    align-items: center;
}
.Host:hover{
    background-color: #290b4d;
    border: 1px solid rgb(126, 56, 255);
    border-left-style: dashed ;
    border-right-style: dashed ;
    border-top-style: initial;
    
    
}
.host-content {
    color: white;
    justify-content: center;
    align-items: center;
}
.host-content p{
    color: #c9c6c6;
}

.host-imgas{
    padding: 40px 24px 40px 40px;
}

.icon{
    margin-top: 10px;
    margin-left: 10px;
    justify-content: space-between;
}

.icon{
    display: flex;
    gap: 16px;
}
.icon a{
    width: 40px;
    height: 40px;
    border: 1px solid #533C72;
    /* gap: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.icon a img{
    width: 20px;
    height: 20px;
}
.icon a:hover{
    background-color: #04ff8a;
}
.host-content p{
    margin-top: 16px;
    margin-bottom: 16px;
}


/* Footer-section */

.Footer-section{
    background: url("../assets/footer-bg.png");
    width: 1600px;
    height: 412px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* .Footer-section:hover{
    box-shadow: 1px 2px 10px 5px rgb(112, 72, 255) ;
} */
.Footer-padding{
    padding: 120px;
}

.Footer-section h1{
    color: white;
    font-size: 5rem;
}
.Footer-section span{
    color: rgb(255, 0, 149)
    /* background-image:linear-gradient(#FB09B4,#9100F8, #F7E93F ); */
}

.footer-icon{
    /* display: flex; */
    /* display: grid;
    grid-template-columns: repeat(1, 1fr); */
    display: flex;
    gap: 10px;
    padding: 32px;
}

/* .footer-icon:hover li{
    background-color: #04ff8a;
    color: #ff0000;
    gap: 10px;
    font-size: 2rem;
    border-radius: 10px;
} */
.footer-icon li{
    color: rgb(194, 194, 194);
    text-decoration: none;
    list-style: none;
    gap: 1000px;
    cursor: pointer;
}
.Footer-padding p{
    color: rgb(216, 216, 216);
    font-size: 1rem;
}